<launch>
  <!-- main node -->
  <!-- It is enough to kill /mongodb node. -->
  <arg name="fetch_bringup" default="false" />
  <arg name="switchbot_ros" default="true" />
  <arg name="elevator_move_base_fetch" default="true" />

  <!-- fetch_bringup options -->
  <arg name="battery_warning" default="false" />
  <arg name="nav_speak" default="false" />
  <arg name="fetch_tweet" default="false" />
  <arg name="fetch_sensors" default="true" />
  <arg name="use_safe_teleop" default="false" />
  <arg name="use_voice_text" default="false" />

  <!-- for light weight jsk_fetch_startup -->
  <group if="$(arg fetch_bringup)">
    <include file="$(find jsk_fetch_startup)/launch/fetch_bringup.launch">
      <arg name="battery_warning" value="$(arg battery_warning)" />
      <arg name="nav_speak" value="$(arg nav_speak)" />
      <arg name="fetch_tweet" value="$(arg fetch_tweet)" />
      <arg name="fetch_sensors" value="$(arg fetch_sensors)" />
      <arg name="use_safe_teleop" value="$(arg use_safe_teleop)" />
      <arg name="use_voice_text" value="$(arg use_voice_text)" />
    </include>
  </group>

  <!-- for using switchbot_ros -->
  <rosparam command="load" file="$(find switchbot_ros)/keys/ifttt.yaml"/>
  <node pkg="switchbot_ros" name="switchbot_server" type="switchbot_ros_server.py" respawn="true" if="$(arg switchbot_ros)" />
  <node pkg="switchbot_ros" name="switchbot_continuous_press_server" type="switchbot_ros_continuous_press_server.py" respawn="true" if="$(arg switchbot_ros)" />

  <!-- for using elevator_move_base_fetch -->
  <group if="$(arg elevator_move_base_fetch)">
    <include file="$(find elevator_move_base_fetch)/launch/elevator_move_base_eng2.launch">
    </include>
  </group>

  <!-- for using check_elevator_open -->
  <group if="$(arg elevator_move_base_fetch)">
    <include file="$(find elevator_move_base_fetch)/launch/check_elevator_open.xml">
    </include>
  </group>
  
</launch>
