<launch>
  <!-- launch AR marker detection node -->
  <!-- You have to set config/tag.yml at first -->
  <include file="$(find apriltag_ros)/launch/continuous_detection.launch">
    <arg name="camera_name" value="/" />
    <arg name="image_topic" value="/spot/camera/frontleft/image" />
    <arg name="camera_frame" value="frontleft_fisheye" />
  </include>
  
  <!-- for using respeaker_ros -->
  <include file="$(find respeaker_ros)/launch/sample_respeaker.launch" />

  <!-- for using julius_recognition -->
  <include file="$(find julius_ros)/launch/julius.launch">
    <arg name="launch_audio_capture" value="false" />
    <arg name="launch_sound_play" value="false" />
  </include>
</launch>
